<!doctype html>
{% from 'bootstrap5/nav.html' import render_nav_item %}

<head>
  <title>{% block title %}{% endblock %} - CFSR Plots</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block styles %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <!-- Bootstrap CSS -->
  {% endblock %}
</head>

<body>
  <h1>CFSR Plots v{{VERSION}} - {{ self.title() }}</h1>
  <nav class="navbar navbar-light">
    {{ render_nav_item('daily', 'Daily') }}
    {{ render_nav_item('monthly', 'Monthly') }}
  </nav>

  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>

    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}

    {% block scripts %}
      {{ bootstrap.load_js() }}
    {% endblock %}
  </section>
</body>
