<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - SIPN Reanalysis Plots</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
  <nav>
    <h1>SIPN Reanalysis Plots v{{VERSION}} - {{ self.title() }}</h1>
    <a href="{{url_for('index')}}">Home</a>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
  
	  {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}

  </section>
  
</body>
