{# Expects params:

   - date: Date of interest
   - min_date: Minimum selectable date
   - max_date: Maximum selectable date
   - variables: Dict of all variables and their associated levels & long_name
   - variable: Optional name of selected variable
   - level: Optional id of selected level
   - img_data: Optional base64-encoded png image data
#}
{% extends 'base.html.j2' %}
{% from 'macros/forms.j2' import daily_plot_form %}


{% block title %}Daily{% endblock %}

{% block content %}
  <form method="GET">
    {{daily_plot_form(form)}}
  </form>

  {% if img_data %}
    <img src="data:image/png;base64,{{img_data}}" />
  {% else %}
    <p>Please fill out and submit the form to view a plot.</p>
  {% endif %}

  <script>
    let variables = JSON.parse('{{variables | tojson | safe}}');
    let varsDropdown = document.querySelector('#{{form.variable.id}}');
    let levelsDropdown = document.querySelector('#{{form.analysis_level.id}}');
    let selectedLevel = '{{form.analysis_level.data}}';

    function handleVariableLevels() {
      // Clear the levels dropdown
      for (o in levelsDropdown.options ) {
        levelsDropdown.options.remove(o);
      }

      selectedVariable = varsDropdown.value;

      // Populate the levels dropdown
      let selectedVariableLevels = variables[selectedVariable].levels;
      selectedVariableLevels.forEach(function(item, index) {
        let newOpt = document.createElement('option');
        newOpt.label = item;
        newOpt.value = index;
        newOpt.selected = index === Number(selectedLevel);
        
        levelsDropdown.appendChild(newOpt);
      });
    }

    varsDropdown.addEventListener('change', handleVariableLevels);
    handleVariableLevels();
  </script>
{% endblock %}
