{% extends 'base.html.j2' %}
{# Expects params:

   - date: Date of interest
   - min_date: Minimum selectable date
   - max_date: Maximum selectable date
   - variables: Dict of all variables and their associated levels & long_name
   - variable: Optional name of selected variable
   - level: Optional id of selected level
   - img_data: Optional base64-encoded png image data
#}


{% block title %}Daily{% endblock %}

{% block content %}
  <form method="GET">
    <select name="variable" id="variable-selector" onchange="handleVariableLevels()">
      {% for v in variables %}
        <option value={{v}} {% if v==variable %}selected{% endif %} >
          {{variables[v]['long_name']}}
        </option>
      {% endfor %}
    </select>

    <select name="level" id="level-selector">
    </select>

    <input type="date" name="date" value="{{date}}" min="{{min_date}}" max="{{max_date}}" />

    <input type="submit" value="Submit"/>
  </form>

  {% if img_data %}
    <img src="data:image/png;base64,{{img_data}}" />
  {% else %}
    <p>Please fill out and submit the form to view a plot.</p>
  {% endif %}

  <script>
    let variables = JSON.parse('{{variables | tojson | safe}}');
    let varsDropdown = document.querySelector('#variable-selector');
    let levelsDropdown = document.querySelector('#level-selector');

    function handleVariableLevels() {
      // Clear the levels dropdown
      for (o in levelsDropdown.options ) {
        levelsDropdown.options.remove(o);
      }

      selectedVariable = varsDropdown.value;

      // Populate the levels dropdown
      let selectedVariableLevels = variables[selectedVariable].levels;
      console.log(selectedVariableLevels);

      selectedVariableLevels.forEach(function(item, index) {
        let newOpt = document.createElement('option');
        newOpt.label = item;
        newOpt.value = index;
        newOpt.selected = index === Number('{{level}}');
        
        levelsDropdown.appendChild(newOpt);
      });
    }

    varsDropdown.onChange = handleVariableLevels;
    handleVariableLevels();
  </script>
{% endblock %}
