{% extends 'base.html.j2' %}

{% block title %}Daily{% endblock %}

{% block content %}
  <form method="GET">
    <input type="date" name="date" value="{{date}}" min="{{min}}" max="{{max}}" />

    <input type="submit" value="Select date"/>
  </form>

  {% if img_data %}
  <img src="data:image/png;base64,{{img_data}}" />
  {% else %}
  <p>Please submit a date selection.</p>
  {% endif %}
{% endblock %}
