{% from 'bootstrap5/form.html' import render_form_row %}


{% macro daily_plot_form(form) -%}
  {{render_form_row([form.variable, form.analysis_level])}}
  {{render_form_row([form.start_date, form.end_date])}}
  {{render_form_row([form.contour])}}

  <input type="submit" class="btn btn-primary btn-md" value="Create plot!">
{%- endmacro -%}
